# tensorflow supports python 3.6 max (2018-10)
# install pyenv and python 3.6 to make proper virtualenv

# libraries and packages:
#   openblas (basic linear algebra subprogram)
#   hdf5 (for saving large network files)
#   graphviz

# setup gpu:
#   cuda
#   cudnn
#   optional:
#     nccl (for multi-gpu)
#     tensorrt (improve inference)

# python scientific suite
numpy
scipy
matplotlib

# hdf5
h5py

pydot-ng

tensorflow-gpu
Keras

jupyter
Pillow
